<!-- <ion-content>
  <form [formGroup]="loginForm">
    <div class="btngroup">
      <h2>🌾 Welcome Back</h2>
      <p>Login to continue</p>
      <ion-item><ion-input type="text" placeholder="Mobile number" formControlName="mobile"> </ion-input></ion-item>
      <ion-item><ion-input type="password" placeholder="Password" formControlName="password"></ion-input></ion-item>
      <br>
      <div><a routerLink="/forgot-password"> Forgot Password? </a></div>
      <br>
      <ion-button fill="outline" color="light" expand="block" (click)="login()">Login</ion-button>
      <br>
      <div><span>Don't have an account?</span> <a routerLink="/tabs/register">Register</a></div>
      <br>
      
    </div>
  </form>
</ion-content> -->



<ion-content>
  <div class="auth-card">
    <h2>🌾 Welcome Back</h2>
    <p>Login to continue 🌱</p>
  </div>
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" formControlName="mobile" placeholder="Mobile">
          <div slot="label">Mobile <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input labelPlacement="floating" type="password" formControlName="password" placeholder="Password">
          <div slot="label">Password <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
    </ion-list>
  </form>
  <div style="text-align:right;"><a routerLink="/forgot-password">Forgot Password? </a></div>
  <div style="margin:15px;"><ion-button fill="outline" expand="block" (click)="login()">Login</ion-button></div>
  <div style="text-align:center;"><span style="margin-right:5px;">Don't have an account?</span> <a routerLink="/tabs/register">Register</a></div>
</ion-content>